.header
    background-color: #f2f2f2
    margin-top: 10vh
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    padding-inline: 100px
    padding-block: 100px

.header-div2
    img
        width: 80%
    @keyframes up-down
            0%
                transform: translateY(0)
            100%
                transform: translateY(20px)
.move
    animation: up-down 2s ease-in-out infinite alternate-reverse both

.header-div1
    h1
        width: 70%
        font-size: 50px
        font-weight: 700
        color: #373867
        margin-bottom: 20px
    p
        font-size: 16px
        color: #373867
        margin-bottom: 20px
   
.header-btn2
    background-color: #f2f2f2
    color: black
    font-size: 18px
    padding: 10px 20px
    border: none
    border-radius: 30px
    cursor: pointer
    margin-right: 20px


@media (max-width: 428px)
    .header
        flex-direction: column
        flex-direction: column-reverse
        padding-inline: 20px
        padding-block: 50px
    .header-div1
        padding-top: 50px
        h1
            width: 100%
            font-size: 30px
        p
            width: 100%
            font-size: 14px
    .header-div2
        img
            width: 100%







   