.about3
  color: #fff
  background-image: url(../images/stats-bg.jpg)
  background-size: cover
  background-repeat: no-repeat
  height: 50vh
  background-position: center
  display: flex
  align-items: center
  justify-content: center
  justify-content: space-evenly

.about3-div1
  background-color: rgba(0, 0, 0, 0.5)
  width: 100%
  height: 100%
  z-index: 1
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
 









