@media (max-width: 428px)
    .contact-div4
        width: 100%
        padding: 0
    .contact-div4-div1
        flex-direction: column
        input
            width: 100%
    .contact-div4-div2
        input
            width: 100%
    .contact-div4-div3
        textarea
            width: 100%
    .contact-div4-div4
        button
            width: 100%
            margin-bottom: 10px
    .contact-div4-div4
        button
            width: 100%


       

    