.testimonials
    background-color: #f2f2f2
    .slide
        display: flex
        justify-content: center
        align-items: center
        padding: 0 400px
        padding-block: 10vh
        .content
            border-left: 5px solid black
            padding-left: 50px
            h3
                font-size: 18px
                font-weight: 500
            h4
                font-size: 14px
            .stars
                i
                    color: #ffc107

            i
                color: #e08282
            .icon-left
                left: -5px
    .profil
        img
            border-radius: 50%
            width: 150px
            margin: auto
.carousel-container
    position: relative
    overflow: hidden

.carousel
    display: flex
    transition: transform 0.5s ease
.slide
    min-width: 100%

    & img
        width: 100%
        height: 100%

.next , .previous
    padding: 1vh 2vw
    border-radius: 20px
    position: absolute
    top: 50%
    transform: translateY(-50%)

.next
    right: 0px

.previous
    left: 0

.indicators-grp
    width: 100%
    padding: 2vh 0
    position: absolute
    bottom: 10%
    display: flex
    align-items: center
    justify-content: center
    gap: 10px

.indicator
    padding: 0.3vh 1vw
    background: rgb(0, 0, 0)
    border-radius: 10px

.activeIndicator
    background-color: aliceblue
.previous , .next
    display: none

@media screen and (max-width: 428px)
    .testimonials
        padding-bottom: 10px
        .slide
            flex-direction: column
            padding: 0 20px

        .content
            width: 100%
            h3
                font-size: 16px

            h4
                font-size: 12px

            p
                font-size: 14px
                margin-bottom: 10px

            .icon1, .icon2
                font-size: 18px

        .profil
            img
                width: 200px
                margin-bottom: 10px
    .indicators-grp
        bottom: 5%
        gap: 5px

    .indicator
        padding: 0.3vh 2vw