.dsn
    border: none
    border-bottom: 3px solid grey
    background-color: #fff
    &:hover
        border-bottom: 4px solid red
@media (max-width: 428px)
    .Menu-div3
        flex-direction: column
        align-items: center
        padding-left:  10px
        
    .rsp-menu
        width: 100%
        margin-bottom: 20px




       


    